@import '../node_modules/bootstrap/scss/bootstrap';
:root {
    --color: #243746;
    --color-primary: #158876;
    --color-secondary: #0e2233;
    --bg: #f3f5f4;
    --bg-secondary: #fff;
    --border-color: #ddd;
}

.dark-mode {
    --color: #ebf4f1;
    --color-primary: #41b38a;
    --color-secondary: #fdf9f3;
    --bg: #091a28;
    --bg-secondary: #071521;
    --border-color: #0d2538;
}

.dark-mode table {
    @extend .table-dark;
}

.dark-mode input.form-control,
.dark-mode select.form-control,
.dark-mode .color-theme-tooltip,
.dark-mode .b-pagination .page-item>* {
    @extend .bg-dark,
    .text-light;
}

.dark-mode .b-pagination .page-item.active>* {
    @extend .bg-primary,
    .text-light;
}

.sepia-mode {
    --color: #433422;
    --color-secondary: #504231;
    --bg: #f1e7d0;
    --bg-secondary: #eae0c9;
    --border-color: #ded0bf;
}

.sepia-mode input.form-control,
.sepia-mode select.form-control,
.sepia-mode .color-theme-tooltip,
.sepia-mode .b-pagination .page-item>* {
    background-color: var(--bg-secondary);
    color: var(--color-secondary);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg);
    color: var(--color);
    transition: background-color 0.3s;
}

a {
    color: var(--color-primary);
}

.form-group label {
    color: var(--color);
}